:root {
  --color-primary: #4c2982;
  --color-secondary: #f9d170;
  --color-bg: #f9f7f3;
  --color-text: #252525;
  --color-light: #f3f3f3;
  --color-success: #067973;
  --color-success-bg: #f5fffe;
  --color-error: #b71540;
  --color-error-bg: #fdeff3;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('Inter-Black.woff2?v=3.11') format('woff2'),
    url('Inter-Black.woff?v=3.11') format('woff');
}

body, span {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: var(--color-light);
}

.Main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main-content {
  margin-bottom: 15em;
}

.Main-content-title {
  color: var(--color-primary);
  font-family: 'Inter';
  font-size: 32px;
}

.Main-content-subtitle {
  color: var(--color-primary);
  font-family: 'Inter';
  margin-top: 0;
  margin-bottom: 0.5em;
}

.Main-form {
  display: flex;
  width: 400px;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.08), 0 2px 17px rgba(0, 0, 0, 0.12);
}
.Main-form-email {
  width: 85%;
  height: 35px;
  margin: 0;
  padding: 0 1em;
  border: none;
}

.Main-form-email::placeholder {
  font-family: inter;
}

.Main-form-email:focus {
  padding: 0 1em;
  border: 1px solid var(--color-primary);
}

.Main-form-email:invalid {
  box-shadow: none;
}

.Main-form-button {
  background-color: var(--color-secondary);
  border-radius: 0;
  width: 37px;
  height: 37px;
  margin: 0;
  padding: 0;
  border: none;
}

.Main-form-button:hover {
  border: 1px solid var(--color-primary);
}

.Main-form-button:focus {
  border: 1px solid var(--color-primary);
}

.Warn-invalid-container {
  background-color: var(--color-error-bg);
  border: 1px solid var(--color-error);
  margin: 1em 0;
  padding: 1em;
}

.Warn-invalid-container span {
  display: flex;
  align-items: center;
}

.Warn-invalid-figure {
  margin: 0 0.5em;
  padding: 0;
  width: 32px;
  height: 32px;
}

.Warn-invalid-figure img {
  width: 32px;
  margin: 0;
  padding: 0;
}

.Warn-invalid-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Inter';
  color: var(--color-error);
}

.Warn-invalid-inf {
  margin: 0 3em;
  color: var(--color-error);
  font-family: 'Inter';
  font-weight: 300;
}

.Confirm-valid-container {
  background-color: var(--color-success-bg);
  border: 1px solid var(--color-success);
  width: 400px;
  margin: 1em 0;
  padding: 1em;
}

.Confirm-valid-container span {
  display: flex;
  align-items: center;
}

.Confirm-valid-figure {
  margin: 0 0.5em;
  padding: 0;
  width: 32px;
  height: 32px;
}

.Confirm-valid-figure img {
  width: 32px;
  margin: 0;
  padding: 0;
}

.Confirm-valid-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Inter';
  color: var(--color-success);
}

.Confirm-valid-inf {
  margin: 0 3em;
  color: var(--color-success);
  font-family: 'Inter';
  font-weight: 300;
}

.fa-arrow-right {
  color: var(--color-primary);
}
